@model IEnumerable<appCoreMVCFinalIntelyGentes.Models.Datos.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaContrato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpNo">Delete</a>  |
                <form asp-action="Firing" asp-route-id="@item.EmpNo" style="display:inline">
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="display:inline"></div>
                    <div class="form-group" style="display:inline">
                        <input type="hidden" value="@item.EmpNo" name="EmpNo" />
                        <div class="form-group" style="display:inline">
                            <input type="hidden" value="@item.FechaNacimiento" name="FechaNacimiento" class="form-control" />
                        </div>
                        <div class="form-group" style="display:inline">
                            <input type="hidden" value="@item.Nombre" name="Nombre" class="form-control" />
                        </div>
                        <div class="form-group" style="display:inline">
                            <input type="hidden" value="@item.Paterno" name="Paterno" class="form-control" />
                        </div>
                        <div class="form-group" style="display:inline">
                            <input type="hidden" value="@item.Materno" name="Materno" class="form-control" />
                        </div>
                        <div class="form-group form-check" style="display:inline">
                            <label type="hidden" class="form-check-label">
                                <input type="hidden" checked="@item.Genero" name="Genero" />
                            </label>
                        </div>
                        <div class="form-group" style="display:inline">
                            <input type="hidden" value="@item.FechaContrato" name="FechaContrato" class="form-control" />
                        </div>
                        <span id="fireSpan_@item.EmpNo">
                            <a href="#" class="btn btn-primary" onclick="confirmFire('@item.EmpNo',true)">Fire</a>
                        </span>
                        <span id="confirmFireSpan_@item.EmpNo" style="display:none">
                            <span>¿Esta seguro que desea despedir a @item.Nombre @item.Paterno @item.Materno?   </span>
                            <input type="submit" value="Yes" class="btn btn-primary" /> |
                            <a href="#" class="btn btn-primary" onclick="confirmFire('@item.EmpNo',false)">No</a>
                        </span>
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
