@model IEnumerable<ProyectoMVCIntelYgentes.Models.Datos.Empleado>


@{
    ViewData["Title"] = "Asignaciones";
}

<h1>Asignaciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaContrato)
                </td>
                <td>
                    <a asp-action="Cargo" asp-route-id="@item.EmpNo">Cargo</a> |
                    <a asp-action="Departamento" asp-route-id="@item.EmpNo">Departamento</a> |
                    <a asp-action="Sueldo" asp-route-id="@item.EmpNo">Sueldo</a>
                </td>
            </tr>
        }
    </tbody>
</table>

